<!DOCTYPE html>
<html>
    <head>
        <title>Quant Edge</title>
    </head>
    <body style="background-color: #EAEAEA">
        <div id="root"></div>
        <script src="bundle.js"></script>
    </body>
</html>